body {
    background-image: linear-gradient(to bottom, skyblue, white);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
.menu_gorne {
    @media (max-width: 600px) {
        position: relative;
        top: 60px;
    }
}
.boczny_przycisk {
    background-image: linear-gradient(to left, skyblue, #c6d1cd);
    border-radius: 30px;
    color: black;
    width: 90%;
    max-width: 350px;;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    border:none;
    height: 90%;
    max-height: 500px;
}
.boczny_przycisk .maly-tekst {
    font-size: 16px;
}
.boczny_przycisk .duzy-tekst {
    font-size: 20px;
    font-weight: bold;
}
.srodek {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    @media (max-width: 600px) {
        position: relative;
        top: 60px;
        flex-direction: column;
        button{
            &:nth-child(1){
                order: 3;
            }
        }
    }
}
.przycisk {
    background-image: linear-gradient(to left, skyblue, #c6d1cd);
    border-radius: 30px;
    color: black;
    width: 90%;
    max-width: 350px;;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    border:none;
    height: 90%;
    max-height: 500px;
}

.przycisk .maly-tekst {
    font-size: 16px;
}

.przycisk .duze-miasto {
    font-size: 24px;
    font-weight: bold;
}

.przycisk .wielka-temperatura {
    font-size: 48px;
    font-weight: bold;
}

.przyciski-gorne {
width:100% ;
position: absolute;
top: 0;
}
.gorny-lewy{
    float:left;
}
.gorny-prawy{
    float:right;
}
.przycisk-dolny{
    text-align:center;
    bottom: 0;
    @media (min-height: 900px){
        position: absolute;
    }
}
.gorny-lewy,.gorny-prawy,.przycisk-dolny{
   background-image: linear-gradient(to left, skyblue, #c6d1cd);
   color: black;
   border: none;
   border-radius: 30px;
   padding: 20px 10px;
}
@media (min-width: 2000px) {
    .boczny_przycisk, .przycisk {
        max-width: 600px;
        max-height: 700px;
        padding: 60px 80px;
    }
    .srodek {
        gap: 60px;
    }
    .boczny_przycisk .maly-tekst, .przycisk .maly-tekst {
        font-size: 32px;
    }
    .boczny_przycisk .duzy-tekst {
        font-size: 40px;
    }
    .przycisk .duze-miasto {
        font-size: 50px;
    }
    .przycisk .wielka-temperatura {
        font-size: 100px;
    }
    .gorny-lewy, .gorny-prawy, .przycisk-dolny {
        padding: 30px 50px;
        font-size: 30px;
    }
    .gorny-lewy::placeholder {
        font-size: 30px;
    }
}